.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
  }
  
  .pageButton {
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .pageButton:hover, .pageButton:focus-visible {
    background-color: #f0f0f0;
  }
  
  .pageButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .active {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  }