.button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(80, 76, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: 0.2s ease;
    outline: none;
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.button:hover, .button:focus-visible {
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.7);
}

.button:active {
    box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.9);
}