.button {
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    color: white;
    background-color: rgb(80, 76, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: background-color 0.5s ease, color 0.5s ease;
    outline: none;
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
}

.button:hover {
    cursor: pointer;
    background-color: aqua;
    color: black;
}

.button:active {
    transform: scale(0.9);
}